body {
    background-image: url(https://i.pinimg.com/736x/4a/97/13/4a9713cc26920b86a24f9dd5d34819a1.jpg);
    color: #0c7500;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 50px;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

.product {
    background-color: #221f1f;
    border-radius: 40px;
    padding: 20px;
    margin-bottom: 30px;
}

.product h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.product p {
    font-size: 16px;
    margin-bottom: 10px;
}

.product img {
    width: 200px;
    border-radius: 20px;
    margin-bottom: 10px;
}
nav {
    background-color: #1c232b80;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: inline-block;
    padding: 20px;
    color: #126d00;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #12281cc9;
}